<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007976017476-s8075vuirm775c5ocsp1n9a3s3jv8ot3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007976017476-s8075vuirm775c5ocsp1n9a3s3jv8ot3</string>
	<key>API_KEY</key>
	<string>AIzaSyBk0X8SRCbw7w5KG9S1D8Q3K4oe9dpbhSE</string>
	<key>GCM_SENDER_ID</key>
	<string>1007976017476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rkdrltks.moduleArchitecture</string>
	<key>PROJECT_ID</key>
	<string>module-architecture</string>
	<key>STORAGE_BUCKET</key>
	<string>module-architecture.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007976017476:ios:ec41af9a88e5c4486c5611</string>
</dict>
</plist>